@using EntityLayer.Concrete;
@model Department
@{
    ViewData["Title"] = "UpdateDepartment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>Departman Düzenleme Sayfası</h3>
<br />
<form method="post">
    @Html.HiddenFor(x=>x.DepartmentID)
    <label>Departman Adı</label>
    @Html.TextBoxFor(x=>x.DepartmentName,new {@class="form-control"})
    <br />
    <button class="btn btn-dark">Kaydet</button>

</form>


